[Unit]
Description=Btplayer.service
After=systemd-update-utmp.service

[Service]
Type=simple
WorkingDirectory=/opt/Btplayer/bin/
ExecStart=/opt/Btplayer/bin/init.sh
StandardInput=tty
Restart=always
StartLimitIntervalSec=20
StartLimitBurst=200
TTYPath=/dev/ttymxc1
TTYReset=yes
TTYVHangup=yes
Environment="XDG_RUNTIME_DIR=/run/user/0"
Environment="XDG_SESSION_CLASS=user"
Environment="XDG_SESSION_ID=c3"
Environment="XDG_SESSION_TYPE=tty"
User=root

[Install]
WantedBy=multi-user.target
